<?php

return [
    'storage_path' => directory('@runtime/framework/down.json'),
    'maintenance'    => [
        'message'     => 'Unavailable for scheduled maintenance.',
        'retry_after' => null,
        'allowed_ip'  => [],
    ]
];
